includes:
	- phpstan.neon
	- phpstan.extensions.neon

parameters:
	ignoreErrors:
		# Twig's Template class is marked as @internal, but compiled templates must extend it
		- identifier: class.extendsInternalClass
		- identifier: property.internalClass
		- identifier: method.internalClass
		- identifier: method.internal
		- identifier: staticMethod.internal
		- identifier: return.internalClass
services:
	-
		class: Twig\Environment
		factory: @TwigStan\Twig\TwigFactory::create
	-
		class: TwigStan\PHPStan\Collector\ContextFromTwigIncludeCallCollector
		tags:
			- phpstan.collector
	-
		class: TwigStan\PHPStan\Rules\GetAttributeRule
		tags:
			- phpstan.rules.rule
	-
		class: TwigStan\PHPStan\Visitor\AssertTypeVisitor
		tags:
			- phpstan.parser.richParserNodeVisitor
	- TwigStan\Processing\Compilation\Parser\TwigNodeParser
	- TwigStan\Twig\TwigFileCanonicalizer
	- TwigStan\Twig\TwigFactory(environmentLoader: %twigstan.twigEnvironmentLoader%)
	- TwigStan\Twig\TokenParser\AssertTypeTokenParser
	- TwigStan\Twig\TokenParser\AssertVariableExistsTokenParser
	- TwigStan\Twig\TokenParser\PrintAssertTypeTokenParser
	- TwigStan\Twig\TokenParser\DumpTypeTokenParser
